/* You can add global styles to this file, and also import other style files */

#themecolors{
    cursor: pointer;
}

.pointer{
    cursor: pointer;
}

.break-text{
    word-wrap: break-word;
}

.w150{
    width: 150px;
}

.w50{
    width: 50px;
}